<a href="#home" class="logo">Jehad</a>
          
        <div id="menu-icon" class="fas fa-bars"></div>
    <nav class="navbar">
        
            <a href="#home">Home</a>
            <a href="#aboutme">About</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact</a>
          

    </nav>
    <i id="darkicon" class="fas fa-moon "onclick="darkMode()"class="Darkmode"></i>
    