@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
 --blue:rgb(6, 154, 173);
/* Colors */

--primary: #01a29c;
--hover: #008170;

/* Fonts */
--h1-font: 2.2rem;
--h2-font: 1.1rem;
--p-font: 0.9rem;
--spacing: 1px;
/* Margins */
--m-1: 0.4rem;
--m-4: 2rem;
}
*::selection{
  background:var(--blue);
  color:#fff;
}
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2);
  color:var(--blue);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--blue);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--blue);
}
/* section header strat */
header{
  position: fixed;
  top:0; left: 0; right:0;
  background:rgb(6, 154, 173);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:.5rem 1%;
  margin:0 0 0 0;
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}
.navbar {
  display: flex;
}
header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
  padding: 6px 30px;
  font-weight: 500;
}

header .navbar a:hover{
  border-bottom: 0.1rem solid #eee;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
/* header section end */

/* home section start */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #222435;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  background: url(images/face2.png) no-repeat;
  background-size: cover;
  background-position: right center;
}
.Introduction {
  max-width: 500px;
}
.Introduction h1 {
  font-size: 4rem;
  letter-spacing: 1px;
}
.Introduction span {
  color:var(--blue);
}
.Introduction h2 {
  font-size: 2.5rem;
  margin: 0.4rem 0;
  letter-spacing: 1px;
}
.Introduction p {
  font-size:2rem;
  margin-bottom: 2rem;
  line-height: 22px;
  max-width: 71%;
}
/* section home end */
/* section about me start */
.skills {
  width: 100%;
  min-height: 100vh;
}
.heading {
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
}
.heading h1 {
  font-size: 4rem;
  font-weight: 600px;
  border-bottom: 2px solid var(--blue);
}
.skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills-img {
  width: 500px;
  height: 400px;
  margin-top: 7.6rem;
}
.skills-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.skills-bars {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.skills-text h2 {
  font-size: 2.5rem;
  font-weight: 600px;
}
.skills-text p {
  font-size: 2rem;
  margin: 1rem 0;
}
.skills-box {
  position: relative;
  background: #2c3e50;
  margin: 1rem 0;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 10px;
}
.skills-box i {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600px;
  color: var(--blue);
}
.skills-box h3 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600px;
}
.skills-box span{
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 0.4rem;
  color: #eee;
}
.percent-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary);
  height: 0.5rem;
  border-radius: 10px;
}
  .aboutme .experience span{
    color: var(--blue);
    font-size: 3rem;
    text-align: right;

  }
  
.html-bar {
  width: 94%;
}
.css-bar {
  width: 84%;
}
.js-bar {
  width: 65%;
}
.ux-bar {
  width: 80%;
}

  .aboutme .experience .Desginer h1{
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0; 
  }
  /* section aboutme end */
  /* section servire start */
  .services span{
    color: var(--blue);
    font-size: 3rem;
    text-align: center;
    
  } 
.services .provided{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:3rem;
    border-radius: .5rem;
    
  }
 
  .services .provided .box{
    flex: 1 1 30rem;
    border-radius: 1rem;
    padding:1rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .services .provided .box i{
    padding:2rem;
    font-size: 5rem;
    color:var(--blue);
  }
  
  .services .provided .box h3{
    font-size: 2rem;
    color:#333;
    padding: 5px;
  }
  .services .provided .box p{
    font-size: 1.5rem;
    color:#333;
  }
  
  .services .provided .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }

  .portfolio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .p-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background: #2c3e50;
    margin: 20px;
    padding: 40px;
    text-align: center;
  }
  .p-box:hover {
    background: var(--blue);
    transition: 0.5s ease;
  }
  .p-img {
    width: 70px;
    height: 70px;
  }
  .p-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid var(--blue);
  }
  .p-box h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
    color: #eee;

  }
  .p-box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #eee;
  }
  /* section contact  */
 
.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}
.contact-info {
  max-width: 500px;
}
.info-box {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.info-box i {
  font-size: 2.5rem;
  color: var(--blue);
}
.info-box p {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.social {
  display: flex;
  align-items: center;
}
.social a {
  margin-right: 1rem;
}
form {
  max-width: 360px;
  margin-top: 4rem;
}
form input,
form textarea {
  width: 100%;
  font-size: 14px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-bottom: 12px;
  background: #2c3e50;
  color: var(--blue);
  border-bottom: 0.4rem solid var(--blue);
}
form textarea {
  height: 200px;
  resize: none;
}
.contact-button {
  max-width: 100px;
  font-weight: 600;
  background: var(--blue);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
  /* footer */
  

  .copyright {
    padding: 10px;
    text-align: center;
    background: var(--blue);
  
  }
  .copyright p{
font-size: 2rem;
color: #eee;
  font-weight: 600;
  }
  /* footer end */
  /* media  */
  /* Making Responsive */

@media (max-width: 991px) {
  header {
    padding: 15px 80px;
  }
  section {
    padding: 50px 80px;
  }
  
}
@media (max-width: 820px) {
  :root {
    --h1-font: 2rem;
    --h2-font: 1rem;
    --m-4: 1.4rem;
  }
  header {
    padding: 13px 65px;
  }
  section {
    padding: 50px 65px;
  }
  .p-box {
    flex: 1;
  }
  .skills-content {
    flex-direction: column;
  }
  
}
@media (max-width: 768px) {
  #menu-icon {
    display: initial;
    color: #eee;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #eee;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar a {
    margin: 1rem;
    padding: 1.5rem;
    display: block;
    background: #333;
    border-left: 4px solid #222435;
  }
  .home {
    background: #e7eafb;
    justify-content: center;
  }
  .Introduction {
    max-width: 410px;
  }
  .contact-content {
    flex-direction: column;
  } 
}
 

@media (max-width: 670px) {
  header {
    padding: 10px 34px;
  }
  section {
    padding: 50px 34px;
  
  }}
  @media (max-width: 360px) {
    .Introduction {
      max-width: 225px;
    }
}