<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>  
</head>
<body>
    <!-- section header start -->
    <header>
    <%- include('../partials/header'); %> 
     
    </header>
    <!-- section header end -->
    <!-- section home start -->
    <section id="home" class="home">
      
        <div class="Introduction" id="Introduction">
            <h1>Hi, I'm <span>Jehad Almaliki</span></h1>
            <h2>Freelance Web Developer</h2>
            <p>Powerful skills in web development.</p>
            <a href="#" class="btn">Download CV</a>
        </div>

        
    </section>
    <!-- section home end -->

    <!-- section about me  start -->
    <section   id ="aboutme" class="aboutme" >
        <div class="heading">
            <h1>Skills</h1>
        </div>
        <!-- Content -->
        <div class="skills-content">
            <div class="skills-bars">
                <div class="skills-text">
                    <h2>My creative Skills</h2>
                    <p>I have extensive knowledge of HTML, JavaScript, PHP, and Mysql.</p>
                    

                </div>
                <div class="skills-box">
                    <i class="fab fa-html5"><h3>HTML</h3></i>
                    <span>94%</span>
                    <div class="percent-bar html-bar"></div>
                </div>
                <div class="skills-box">
                    <i class="fab fa-css3"><h3>CSS</h3></i>
                    <span>84%</span>
                    <div class="percent-bar css-bar"></div>
                </div>
                <div class="skills-box">
                    <i class="fab fa-js"><h3>JavaScript</h3></i>
                    <span>65%</span>
                    <div class="percent-bar js-bar"></div>
                </div>
                <div class="skills-box">
                    <i class="fas fa-palette"><h3>UI/UX</h3></i>
                    <span>80%</span>
                    <div class="percent-bar ux-bar"></div>
                </div>
            </div>
           
            <!-- Content -->
            
                <div class="skills-bars">
                    <div class="skills-text">
                        <h2>My creative expriences</h2>
                        <p>I am a developer and UX/UI designer based in Yemen. </p>
                        <p>My extensive experience with designing and developing websites using Html5, CSS, and JS on Rails matches well with your requirements.</p>
                        <p>National and international customers have relied on me for design,</p>
                        <p>As a freelancer, I works also with web , companies and individuals to create websites business. </p>
                        <p>As a freelancer, I works also with web , companies and individuals to create websites business. </p>
                        <p>National and international </p>
                        
                        
    
                    </div>
                </div>
            

        </div>
    </section>
    <!-- section about me end -->

    <!-- section services start -->
    <section id="services" class="services">
        <div class="heading">
            <h1>services</h1>
        </div>
        <div class="provided">
            
            <div class="box">
                <i class="fas fa-laptop-code"></i>
                <h3>Web Designing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                
            </div>
            
            <div class="box">
                <i class="fas fa-code-branch"></i>
                <h3>Apps Designing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                
            </div>
            <div class="box">
                <i class="fas fa-code"></i>
                <h3>UI/Ux</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing .</p>
                
            </div>
            
        </div>
        
        <div class="portfolio">
        
            <div class="heading">
                <h1>previose work</h1>
            </div>
    
            <!-- Content -->
            <div class="portfolio-content">
                <div class="p-box">
                    <div class="p-img">
                        <img src="images/a1.png" alt=""  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
                        
                    </div>
                    <h2>Website of Userbot</h2>
                    
                </div>
                <div class="p-box">
                    <div class="p-img">
                        <img src="images/a2.png" alt=""  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
                        
                    </div>
                    <h2>The portfolio of Jehad</h2>
                    
                </div>
                <div class="p-box">
                    <div class="p-img">
                        <img src="images/a3.png" alt="" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
                        
                    </div>
                    <h2>UX/UI design of equity</h2>
                    
                </div>
            </div>
        </div>

    </section>
    <!-- section service end -->

    <!-- section contact me start -->
    <section class="contact" id="contact">
        <div class="heading">
            <h1>Contact</h1>
            </div>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis vitae nobis?</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fab fa-facebook"></i>
                            <div class="info">
                                <div class="head">facebook</div>
                                <div class="sub-title">JehadAlmalik@facebook</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fab fa-linkedin-in"></i>
                            <div class="info">
                                <div class="head">LinkedIn</div>
                                <div class="sub-title">Jehadalimaliki@LinkedIn</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fab fa-github"></i>
                            <div class="info">
                                <div class="head">GitHub</div>
                                <div class="sub-title">github.com/Jehadalmaliki</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form method="post" id="validationForm" action="\">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" id="firstName" placeholder="Name" >
                                <div id="errname"></div>
                            </div>
                            <div class="field email">
                                <input type="email" id="emailAddress" placeholder="Email" >
                                <div id="erremail"></div>
                            </div>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" id="area" placeholder="Message.." ></textarea>
                            <div id="errarea"></div>
                        </div>
                        <div class="button-area">
                            <input type="submit" >
                        </div>
                    </form>
                </div>
            
            </div>
    </section>

     <!-- section cotact me end -->
     <!-- footer start -->

     <footer >
        <%- include('../partials/footer'); %>  
     </footer>
     <!-- footer  -->
    
     

</body>
<%- include('../partials/scripts'); %> 
    
  </script>
</html>